<div class="flex flex-wrap justify-center items-center min-h-screen">
  <div class="user-card card-width">
    <!-- Search Input -->
    <div class="mb-3 mt-4">
      <input type="text" id="search" [(ngModel)]="searchValue" (input)="onSearch()"
        class="block w-full px-3 py-2 text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-yellow-500 focus:border-yellow-500"
        placeholder="Search by name, email..." />
    </div>
    <!--Add Button-->
    <div class="flex flex-wrap justify-end">
      <a routerLink="/users/add" class="inline-flex flex-wrap items-center gap-2
         bg-yellow-500 hover:bg-yellow-8a00
         text-white font-medium
         px-3 py-2 rounded-lg
         transition shadow-sm">
        Add User
        <i class="fa-solid fa-user"></i>
      </a>
    </div>

    <section class="my-4 rounded">
      @if (isLoading) {
      <div class="card flex flex-wrap justify-center p-6">
        <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
      </div>
      }

      @if (!isLoading) {
      @if (displayedUsers.length > 0) {
      @for (user of displayedUsers; track user.id) {
      <div class="flex flex-wrap items-center justify-between p-2 mb-2 border-b border-yellow-950">
        <div class="flex flex-wrap items-center gap-3">
          <div class="w-12 h-12 sm:w-16 sm:h-16 rounded-full overflow-hidden flex flex-wrap-shrink-0">
            <img [src]="user?.picture || 'https://placehold.co/600x400'" [alt]="user?.firstName"
              class="w-full h-full object-cover" />
          </div>
          <div>
            <h4 [routerLink]="['/users/view', user?.id]"
              class="cursor-pointer text-red-50 hover:text-yellow-600 transition text-[14px] sm:text-base font-semibold leading-tight">
              {{user?.firstName}} {{user?.lastName}}
            </h4>
            <p class="text-sm text-white-500">{{user?.email}}</p>
            <p class="text-sm text-white-500">{{user?.phone}}</p>
          </div>
        </div>

        <div class="flex flex-wrap items-center justify-center ms-auto gap-3">
          <a [routerLink]="['/users/edit', user.id]" class="w-9 h-9 flex flex-wrap items-center justify-center rounded-full
                      text-yellow-600 hover:bg-blue-100 transition" title="Edit">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>

          <button type="button" (click)="confirmDelete(user)" class="w-9 h-9 flex flex-wrap items-center
          justify-center rounded-full
                           text-red-600 hover:bg-blue-100 cursor-pointer transition" title="Delete">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
      }
      } @else {
      <div class="p-4 text-center text-white-500">
        @if (searchValue) {
        <span class="text-red-50">No users found matching "{{searchValue}}"</span>
        } @else {
        <span class="text-red-50">No users available</span>
        }
      </div>
      }
      }

      @if (totalRecords > 0 && !isLoading) {
      <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" [pageLinkSize]="2"
        [showFirstLastIcon]="false" (onPageChange)="onPageChange($event)">
      </p-paginator>
      } <!---[rowsPerPageOptions]="[5, 10, 20]"-->
    </section>
  </div>
  <p-toast></p-toast>
  <!-- Confirmation Dialog -->
  <p-confirmDialog ></p-confirmDialog>
