.bg-custom{
  background:
    -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .6))),
    url('/image.jpg');
  background:
    -o-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
    url('/image.jpg');
  background:
    linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
    url('/image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
