/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
*{
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url('/image.jpg');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.user-card {
  padding: 12px 16px;
  border-radius: 12px;
  background: rgba(255,255,255,.9);
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
  margin-bottom: 12px;
  width: 100%;
  padding: 40px;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-paginator {
  justify-content: flex-end !important; /* move to right */
  padding: 0 !important;
  background: transparent !important; /* remove bg */
  color: #1f2937 !important;
  margin: 20px 5px;       /* text-gray-800 */
}

/* Paginator page links */
.p-paginator .p-paginator-page {
  border: none; /* border-gray-300 */
  padding: 0.25rem 0.5rem;
  margin: 0 0.15rem;
  cursor: pointer;
  transition: all 0.2s;
}

.p-paginator .p-paginator-page.p-highlight {
  background-color: #3b82f6; /* bg-blue-500 */
  color: white;
  border-color: #3b82f6;
}

.p-paginator .p-paginator-page:hover {
  background-color: #60a5fa; /* bg-blue-400 */
  color: white;
}

::placeholder{
  color:#d3cdcd
}
